<!DOCTYPE>
<html>
 <head>
   <title>TWAIN</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
 </head>
 <style type="text/css">
 .wrapper{
  width:420px;
  height: 300px;
  margin: 8% auto;
  background: rgba(255, 254, 251, 0.384);
  padding: 15px 20px;
  border-radius: 20px;
 }
 body{
    background-color: #9da4ac;
  }
  .h1{
    margin-top: 10px;
    color: white;
    text-align:center;
    line-height:35px;
    font-family: 'Marck Script', cursive;
  }
  label{
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
 </style>

<body>
  <div class = "h1">
     Вхід /
    <a href="/sign-up">Зареєструватись</a>
  </div>
  </div>
  <div class = "wrapper">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Ми не поширимо ваш емаіл.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Увійти</button>
    </form>
  </div>
</body>